################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projektarbete/v15
*.pdb
*.pdb
*.pdb
*.exe
*.pdb
*.exe
*.pdb
*.pdb
*.pdb
*.exe
*.exe
*.pdb
/.vs/config
*.exe
*.exe
*.pdb
Projektarbete/bin/Debug/Resources/gmingpc.png
Projektarbete/bin/Debug/Resources/gmingpc.png
Projektarbete/bin/Debug/Resources/gmingpc.png
Projektarbete/bin/Debug/Resources/grafikcard.png
Projektarbete/bin/Debug/Resources/grafikcard.png
Projektarbete/bin/Debug/Resources/ps4.png
*.png
Projektarbete/bin/Debug/Resources/gmingpc.png
Projektarbete/bin/Debug/Resources/grafikcard.png
Projektarbete/bin/Debug/Resources/laptop.png
Projektarbete/bin/Debug/Resources/laptop2.png
Projektarbete/bin/Debug/Resources/laptop3.png
Projektarbete/bin/Debug/Resources/products.txt
Projektarbete/bin/Debug/Resources/ps4.png
Projektarbete/bin/Debug/Resources/vr.png
Projektarbete/bin/Debug/Resources/xboxone.png
